<ion-header [translucent]="true">
  <ion-toolbar>


    <ion-title>
      รอยืนยัน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

      <ion-title size="large">รอยืนยัน</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      รายการนัดหมาย (รอยืนยัน)
    </ion-list-header>

    <ion-item-sliding>
      <ion-item>
      <ion-avatar slot="start">
        <img src="https://img.fixthephoto.com/blog/UserFiles/Image/222/nikon-portrait-lens_640x640.jpg">
      </ion-avatar>
      <ion-label>
        <h2>วันที่ 15/03/2021</h2>
        <h3>เวลา 08.00 -16.00 น.</h3>
        <p>โครงงานระบบที่ปรึกษาโครงงานสสสสสสสส</p>
      </ion-label>
    </ion-item>
      <ion-item-options side="end">
        <ion-item-option>รายละเอียด</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
      <ion-avatar slot="start">
        <img src="https://musicstation.kapook.com/files_music2008/picture/3/18256.jpg">
      </ion-avatar>
      <ion-label>
        <h2>วันที่ 15/03/2021</h2>
        <h3>เวลา 08.00 -16.00 น.</h3>
        <p>โครงงานระบบที่ปรึกษาโครงงานสสสสสสสส</p>
      </ion-label>
    </ion-item>
      <ion-item-options side="end">
        <ion-item-option>รายละเอียด</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
      <ion-avatar slot="start">
        <img src="http://www.myband.co.th/uploads/20190217/f94effe7796e9dfc887245d3b438d6be.jpg">
      </ion-avatar>
      <ion-label>
        <h2>วันที่ 23/03/2021</h2>
        <h3>เวลา 14.00 -16.00 น.</h3>
        <p>นัดหมายแพทย์</p>
      </ion-label>
    </ion-item>
      <ion-item-options side="end">
        <ion-item-option>รายละเอียด</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
      <ion-avatar slot="start">
        <img src="https://i.ibb.co/1fcKRpT/594235033001.jpg">
      </ion-avatar>
      <ion-label>
        <h2>วันที่ 24/03/2021</h2>
        <h3>เวลา 10.00 -12.00 น.</h3>
        <p>ระบบจัดการลานจอดรถ</p>
      </ion-label>
    </ion-item>
      <ion-item-options side="end">
        <ion-item-option>รายละเอียด</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>



  </ion-list>

</ion-content>
