<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      รายการนัดหมายวันนี้
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">รายการนัดหมายวันนี้</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-item>
      <ion-button fill="outline" slot="start">#2252</ion-button>

      <ion-label>08.00 - 15.00 น.</ion-label>

    </ion-item>

    <ion-card-content>
      "ส่งงานการบันทึกข้อมูลลงในฐานข้อมูล เพื่อทำการประมวลผล และตรวจสอบผลลัพธ์ที่เกิดขึ้น"
      <ion-label>
    <p><b>โครงงานระบบที่ปรึกษาอาจารย์โครงงาน</b></p>
  </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-button fill="outline" slot="start">#2252</ion-button>

      <ion-label>08.00 - 15.00 น.</ion-label>

    </ion-item>

    <ion-card-content>
      "ส่งงานการบันทึกข้อมูลลงในฐานข้อมูล เพื่อทำการประมวลผล และตรวจสอบผลลัพธ์ที่เกิดขึ้น"
      <ion-label>
    <p><b>โครงงานระบบที่ปรึกษาอาจารย์โครงงาน</b></p>
  </ion-label>
    </ion-card-content>
  </ion-card>

 


</ion-content>
